@page "/Ristorante"
@inject BancaDati db 

<div class="container container-fluid corpo"><!--Init of a container-->
    <div class="row"><!--Initi of a row-->
        <div class="col text-center"><!--Init of a col-->
            <h2 class="principale">Benvenuto nel nostro ristorante</h2>
        </div><!-- EOF a col-->
    </div><!--EOF of a row-->
    <div class="row"><!--Init of a row-->
        <div class="col"><!--Init of a col-->
            @if (nuovo == null)
            {
                <h3 class="titolo mt-2">Qui puoi vedere i piatti inseriti oppure <span><button class="btn btn-primary mt-2 mb-2" @onclick="(e => Aggiungi())">Clicca qui</button></span> per aggiungerne uno nuovo</h3>
                <span class="oi oi-print float-right ml-2" onclick="window.print()" title="Stampa la lista dei piatti"><p>Stampa la lista</p></span>
                <table class="table table-hover" role="grid">
                    <thead>
                        <tr role="rowheader">
                            <!--Inserimento di attributi di accessibilità "scope = col"-->
                            <th scope="col">ID</th>
                            <th scope="col">Portata</th>
                            <th scope="col">Allergeni</th>
                            <th scope="col">Stagione</th>
                            <th scope="col">Prezzo</th>
                            <th scope="col">Note</th>
                            <th scope="col">Modifica</th>
                            <th scope="col">Cancella</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--Estraggo i dati dalla tabella piatti-->
                        @foreach (Piatto nuovo in db.piatti)
                        {
                            <tr role="rowgroup">
                                <td scope="row" role="gridcell">@nuovo.id</td>
                                <td scope="row" role="gridcell">@nuovo.portata</td>
                                <td scope="row" role="gridcell">@nuovo.allergeni</td>
                                <td scope="row" role="gridcell">@nuovo.stagione</td>
                                <td scope="row" role="gridcell">@nuovo.prezzo</td>
                                <td scope="row" role="gridcell">@nuovo.note</td>
                                <td><span><button class="btn btn-primary oi oi-pencil p-2" role="button" aria-label="modify" @onclick="(e => Modifica(nuovo))">Modifica</button></span></td>
                                <td><span><button class="btn btn-danger oi oi-trash p-2" role="button" aria-label="close" @onclick="(e => Cancella(nuovo))">Cancella</button></span></td>
                            </tr>
                        }

                    </tbody>
                    <tfoot></tfoot>
                </table>
            }
            else
            {
                <!--Si costruisce il form per l'inserimento e la modifica dei dati. Quando nuovo != null si va in modifica o si crea un nuovo piatto-->
                <EditForm Model="@nuovo" OnValidSubmit="@(e => Salva())">

                    <!--Si specificano i vari attributi di accesibilità come role per i bottoni aria-labelledby per lo switch su più categorie-->
                    <h4>inserire i dati e premere ok per salvare</h4>

                    <div class="form-group" id="portate">
                        <label for="portata">Inserisci la portata</label>
                        <InputText id="portata" class="form-control" aria-labelledby="portate" @bind-Value="nuovo.portata" />
                    </div>

                    <div class="form-group" id="allergene">
                        <label for="allergeni">Inserisci gli allergeni</label>
                        <InputText id="allergeni" class="form-control" aria-labelledby="allergene" @bind-Value="nuovo.allergeni" />
                    </div>
                    <div class="form-group" id="stagioni">
                        <label for="stagione">Inserisci la stagione</label>
                        <InputText id="stagione" class="form-control" aria-labelledby="stagioni" @bind-Value="nuovo.stagione" />
                    </div>
                    <div class="form-group" id="prezzi">
                        <label for="prezzo">Inserisci il prezzo</label>
                        <InputNumber id="prezzo" class="form-control" aria-labelledby="prezzi" @bind-Value="nuovo.prezzo" />
                    </div>
                    <div class="form-group" id="testi">
                        <label for="note" aria-label="Descrizione per la nota">Inserisci una nota per il piatto</label>
                        <InputText id="note" class="form-control" aria-labelledby="testi" @bind-Value="nuovo.note" />
                    </div>
                    <button type="submit" class="btn btn-primary" role="button">Salva</button>
                    <button type="reset" class="btn btn-secondary" role="button" @onclick="(e => Annulla())">Annulla</button>
                </EditForm>

            }
        </div><!--End of a col-->
    </div><!--End of a row-->
    <div class="row"><!--Init of a row-->
        <div class="col mb-2 text-center"><!--Init of a col-->
            <h4 class="text-center mt-3 mt-2 mappa">vieni a trovarci!!!!!</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d92725.8037783242!2d11.79680871407061!3d43.42548357765951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132bed72f3fda815%3A0xf846f1b18734dc08!2s52100%20Arezzo%20AR!5e0!3m2!1sit!2sit!4v1620299105114!5m2!1sit!2sit" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div><!--End of a col-->
    </div><!--End of a row-->
</div><!--End of container-->

@code {

    public Piatto nuovo;

    /// <summary>
    /// Si crea la funzione aggiungi per aggiungere un nuovo piatto alla tabella riepilogativa mostrata all'utente
    /// </summary>
    public void Aggiungi()
    {
        nuovo = new Piatto();
    }

    /// <summary>
    /// Mi creo una funzione per modificare il piatto nel form. In questo modo nuovo sarà diverso da null e posso modificare il piatto scelto
    /// </summary>
    /// <param name="modificaPiatto"></param>
    public void Modifica(Piatto modificaPiatto)
    {
        nuovo = modificaPiatto;
    }

    /// <summary>
    /// Si crea anche una funzione per la cancellazione dei piatti inseriti. Oltre che a cancellare la riga si provvede a cancellarla dal db
    /// </summary>
    /// <param name="cancellaPiatto"></param>
    public void Cancella(Piatto cancellaPiatto)
    {
        db.piatti.Remove(cancellaPiatto);
        db.SaveChanges();
    }

    /// <summary>
    /// Si costruisce una funzione per il salvataggio dei piatti. I dati vengono salvati all'interno del db, e mostrati attraverso la tabella all'utente.
    /// Si effettua così il post del form. L'attributo "action" omesso volontariamente di quest'utlimo in questo caso rimanda alla pagina ristoranti con il dato aggiornato.
    /// </summary>
    public void Salva()
    {
        if (nuovo.id == 0)
        {
            db.piatti.Add(nuovo);
        }
        else
        {
            db.piatti.Update(nuovo);
        }
        db.SaveChanges();
        nuovo = null;
    }

    /// <summary>
    /// Si effettua il reset delle informazioni e si torna alla pagina iniziale
    /// </summary>
    public void Annulla()
    {
        nuovo = null;
    }
}
